[submodule "201407_RecAtBbbm"]
	path = 201407_RecAtBbbm
	url = https://github.com/pilipolio/201407_RecAtBbbm.git
[submodule "geobbm"]
	path = geobbm
	url = https://github.com/pilipolio/geobbm.git
[submodule "We7DataVizTalk"]
	path = We7DataVizTalk
	url = https://github.com/pilipolio/We7DataVizTalk.git
[submodule "201510_Lessons_AB_Tests"]
	path = 201510_Lessons_AB_Tests
	url = https://github.com/pilipolio/201510_Lessons_AB_Tests.git
[submodule "recs"]
	path = recs
	url = https://github.com/pilipolio/recs.git
